---
import redes from "assets/whatsapp.svg";
import gmail from "assets/gmail.svg";
import telefono from "assets/telefono.png";
import linkedin from "assets/linkedin.png";
import facebook2 from "assets/facebook1.png";
---
<br>
<br>
<br>
<br>
<footer class="bg-white text-black py-4" style="background-color: black;">
  <div class="flex justify-center mt-2">
<hr>
    <a href="https://www.whatsapp.com" target="_blank" class="mx-2"><img src={redes.src} alt="WhatsApp Telco Netowks"  style="width: 35px; height: 35px;" /></a>
    <a href="mailto:contacto@telcolaguna.com.mx" target="_blank" class="mx-2"><img src={gmail.src} alt="Correo Telco Networks" style="width: 35px; height: 35px;" /></a>    
    <a href="tel:+528717207988" class="mx-2"><img src={telefono.src} alt="Telefono Telco Networks" style="width: 35px; height: 35px;" /></a> 
    <a href="https://www.linkedin.com" target="_blank" class="mx-2"><img src={linkedin.src} alt="Linkedin Telco Netowks"  style="width: 35px; height: 35px;" /></a>
    <a href="https://www.facebook.com" target="_blank" class="mx-2"><img src={facebook2.src} alt="Facebook Telco Netowks"  style="width: 35px; height: 34px;" /></a>
  
  </div>
    
  <div class="container mx-auto px-4">
    <div class="flex justify-center items-center" style="height: 100%;">
      <p class="text-white">
        Copyright © {new Date().getFullYear()} Telco Networks.
      </p>
    </div>
    
    <div class="text-center text-xs mt-2 text-white">
      Diseñada por 
      <a href="https://www.instagram.com/josevaleroa12/" class="underline text-white">Jose Valero</a> 
      & 
      <a href="https://www.instagram.com/yizuz23/" class="underline text-white">Jesus Corona</a>
    </div>
  </div>
</footer>