---

import heroImage1 from "assets/telecomunicaciones.jpg";

import heroImage4 from "assets/Camaras.jpg"; // Asegúrate de tener más imágenes

import antena from "assets/ant.jpg";

import servidor from "assets/servidor.jpg";

import redes from "/public/red.jpg";

import hombre from "assets/hombre.jpg";

import camcarrousel from "assets/camcarrousel.jpeg";

import camara from "assets/camara-de-seguridad.png";

import acceso from "assets/control-de-acceso.png";
---

<div>
  <div class="carousel-container"> <!-- Ajusta el ancho según tus necesidades -->
    <div class="carousel-slide">
      <img src={heroImage1.src} alt="Redes Telco" />
      <h1 style="position: absolute; top: 20%; left: 35%;transform: translate(-50%, -50%); " class="text-white font-bold text-3xl text-stroke line-clamp-3 text-center">Instalación de redes de fibra óptica.</h1>
    </div>
    <div class="carousel-slide">
      <img src={antena.src} alt="Cableado Estructurado Telco" />
      <h1 style="position: absolute; top: 80%; left: 50%;transform: translate(-50%, -50%); " class="text-white font-bold text-3xl text-stroke ">Diseño y gestion de redes</h1>
    </div>
    <div class="carousel-slide">
      <img src={redes.src} alt="Telecomunicaciones Telco" />
      <h1 style="position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); " class="text-white font-bold text-3xl text-stroke ">Diseño y gestion de redes</h1>
    </div>
    <div class="carousel-slide">
<<<<<<< HEAD
      <img src={heroImage4.src} alt="Sistemas de seguridad Telco" />
      <h1 style="position: absolute; top: 20%; left: 50%;transform: translate(-50%, -50%); " class="text-white font-bold text-3xl text-stroke ">Diseño y gestion de redes</h1>
=======
      <img src={camcarrousel.src} alt="Sistemas de seguridad Telco" />
>>>>>>> 8289594586055a7fcc8284ed0a3bb0ccc90b88ce
    </div>
    <div class="carousel-slide">
      <img src={servidor.src} alt="Telco Networks" />
      <h1 style="position: absolute; top: 20%; left: 65%;transform: translate(-50%, -50%); " class="text-white font-bold text-3xl text-stroke ">Diseño y gestion de redes</h1>
    </div>
    <div class="carousel-slide">
      <img src={fondito2.src} alt="Telefonia Digital" />
      <h1 style="position: absolute; top: 20%; left: 33%;transform: translate(-50%, -50%); " class="text-white font-bold text-3xl text-stroke ">Diseño y gestion de redes</h1>

    </div>
  </div>
  <!-- Botones de navegación -->
  <button class="carousel-button-prev">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
    </svg>
  </button>
  <button class="carousel-button-next">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
    </svg>
  </button>
  <br>
  <h1 class="text-center text-3xl font-bold">Soluciones y Servicios</h1>

  <div class="mx-auto pt-12 lg:py-16">
    <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-4 mt-6">
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" src={camara.src} />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" src={acceso.src} />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" src={redes.src} />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" src={redes.src} />
      </div>
    </div>
  </div>
</div>

<style>
  .carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    overflow: hidden;
  }

  .carousel-slide {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 75vh;
    margin-left: 0;
    margin-right: 0;
    display: none; /* Oculta todas las imágenes por defecto */
  }

  .carousel-slide.active {
    display: block; /* Muestra solo la imagen activa */
  }

  .carousel-slide img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Ajusta la altura para que ocupe todo el contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  }

  .carousel-button-prev, .carousel-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%; /* Bordes redondeados */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); /* Sombra */
    transition: background-color 0.3s, transform 0.3s; /* Transición al hacer hover */
  }

  .carousel-button-prev:hover, .carousel-button-next:hover {
    background-color: #2ca59c; /* Color de fondo al hacer hover */
    transform: translateY(-50%) scale(1.1); /* Escalado al hacer hover */
  }
  .carousel-button-prev {
  left: 10px; /* Ajusta la distancia del botón izquierdo al borde */
}

.carousel-button-next {
  right: 10px; /* Ajusta la distancia del botón derecho al borde */
}
</style>

<script>
  let currentSlide = 0;
  const slides = document.querySelectorAll('.carousel-slide');
  const totalSlides = slides.length;

  function showNextSlide() {
    if (slides[currentSlide]) {
      slides[currentSlide].classList.remove('active');
      currentSlide = (currentSlide + 1) % totalSlides;
      if (slides[currentSlide]) {
        slides[currentSlide].classList.add('active');
      }
    }
  }

  document.querySelectorAll('.carousel-button-next').forEach(button => {
    button.addEventListener('click', showNextSlide);
  });

  document.querySelectorAll('.carousel-button-prev').forEach(button => {
    button.addEventListener('click', () => {
      if (slides[currentSlide]) {
        slides[currentSlide].classList.remove('active');
        currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
        if (slides[currentSlide]) {
          slides[currentSlide].classList.add('active');
        }
      }
    });
  });

  // Initialize the first slide as active
  slides[currentSlide].classList.add('active');

  // Set interval to change slide every 3 seconds
  setInterval(showNextSlide, 3500);
</script>