---
import banamex from "assets/Banamex.svg";
import canal10 from "assets/canal10.svg";
import consejojefa from "assets/consejojefa.svg";
import hennieges from "assets/hennieges.svg";
import lazboy from "assets/laz.svg";
import lincoln from "assets/Lincoln.svg";
import wrangler from "assets/wrangler.svg";
---
<div class="mx-auto pt-12 lg:py-16">
    <h1 class="text-center text-5xl font-bold">Casos de Éxito y Clientes</h1>
    <br><br>
    <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo"  src={banamex.src}>
      </div><div class="flex justify-center col-span-1 px-8">
        <img alt="logo"  src={canal10.src} />
      </div><div class="flex justify-center col-span-1 px-8">
        <img alt="logo"  src={wrangler.src} />
      </div><div class="flex justify-center col-span-1 px-8">
        <img alt="logo"  src={consejojefa.src} />
      </div><div class="flex justify-center col-span-1 px-8">
        <img alt="logo"  src={lincoln.src} />
      </div><div class="flex justify-center col-span-1 px-8">
        <img alt="logo"  src={lazboy.src} />
      </div>
    </div>
  </div>